/**********************************************
    RESET STYLE
**********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/***************************************
    RESET DONE!
***************************************/


/***************************************
    DEFAULT STYLE THINGS
***************************************/
body {
    font-family: 'PT Sans', sans-serif;
    color: rgb(190,190,190);
    min-height: 740px;

    background: rgb(50, 50, 50);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(30, 30, 30)), to(rgb(60, 60, 60)));
    background: -webkit-radial-gradient(rgb(30, 30, 30), rgb(60, 60, 60));
    background:    -moz-radial-gradient(rgb(30, 30, 30), rgb(60, 60, 60));
    background:     -ms-radial-gradient(rgb(30, 30, 30), rgb(60, 60, 60));
    background:      -o-radial-gradient(rgb(30, 30, 30), rgb(60, 60, 60));
    background:         radial-gradient(rgb(30, 30, 30), rgb(60, 60, 60));
}
b, strong { font-weight: bold }
i, em {font-style: italic }

em {background: rgb(70, 70, 70)}
a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.2);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.7s;
    -moz-transition:    0.7s;
    -ms-transition:     0.7s;
    -o-transition:      0.7s;
    transition:         0.7s;
}
a:hover, a:focus {
    color: rgba(0,0,0, 0.7);
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

embed {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.8);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
}


/***************************************
    FALLBACK MESSAGE IF JS IS DISABLED
***************************************/
.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}


/****************************************
    STEP STYLE
****************************************/
.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 45px;
    line-height: 1.5;
}

.step h1 {
    color: white;
    font-size:  70px;
}

.step h2 {
    color: white;
    font-size: 60px;
}

.step h3 {
    color: white;
    font-size: 50px;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.05;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.persist {
    opacity: 0.8;
}

.impress-enabled .step.half {
  width: 500px;
}

.impress-enabled .step.active { opacity: 1 }

.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}

.counter {
    position: absolute;
    top: -2em;
    right: 1em;
    font-size: 22px;
    opacity: 0.8;
    width: auto;
}

/******************************************
    OVERVIEW SLIDE
******************************************/
#overview { display: none }

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }

/******************************************
    CODE BLOCKS
******************************************/
pre code {
    display: block;
    background: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-family: 'Anonymous Pro';
    font-size: 0.6em;
    border-radius: 4px;
    padding: 0em 2em 0em;
}

pre code .prettyprint {
    padding-bottom: 1em;
}
